LocationProvider.iml
bin/AndroidManifest.xml
bin/AndroidManifest.xml.d
bin/jarlist.cache
bin/proguard.txt
build.xml
gen/R.java.d
gen/com/example/android/mocklocation/BuildConfig.java
gen/com/example/android/mocklocation/Manifest.java
gen/com/example/android/mocklocation/R.java
local.properties
proguard-project.txt
project.properties
res/values/arrays.xml
bin/
libs/
geo_arrays.xml
*.kml
